

snippet e
	echo '${1}';

snippet pf 
	public function ${1}()
	{
		${2}
	}

snippet sf 
	public static function ${1}()
	{
		${2}
	}

snippet rg
	Route::get('${1}','/${2}');

snippet rd
	Route::delete('${1}','/${2}');

snippet rp
	Route::post('${1}','/${2}');

snippet rput
	Route::put('${1}','/${2}');

snippet $ 
	$this->
